{% set entityName = entity|capitalize %}
{% set btnSunbmit = 'btnSubmit'~ entityName %}
{% set hdnKanban = 'hdnKanban'~ entityName %}
{% set hdnKanbanCode %}
{% include 'crud/views/others/refresh.js.twig.twig' with {'consoleOptions': consoleOptions, 'hdnKanban' : hdnKanban} %}
{% endset %}
{{ '{% set entityLabel = "' ~ entity ~ '" %}'}}
{{ '{% ui_dialog widgetVar="dlgNew'~ entity ~'" title="dlg.create.title"|trans({\'%name%\': entityLabel}) modal="true"
             close=js_function(\'$(this).dialog( "destroy" );$(this).remove();\') %}
    <div style="width:100%">
    {% ajax_form id="frmNew'~ entity ~'"
       update="#'~ entity|lower ~'Workspace"
       action=path("'~ route_name_prefix ~'_create")
       method="POST"
       beforeSubmit=js_function("$(\'.'~ btnSunbmit ~'\').attr(\'disabled\',true);_dlgNew'~ entity ~' = dlgNew'~ entity ~';")
       complete=js_function("jqXHR","
         if(jqXHR.status == 202){
           _dlgNew'~ entity ~'.wijdialog(\'destroy\');
           $(_dlgNew'~ entity ~').remove();
         }
         if (jqXHR.status == 200){'~ hdnKanbanCode ~'
           _dlgNew'~ entity ~'.wijdialog(\'destroy\');
           $(_dlgNew'~ entity ~').remove();
           $.pnotify(\'" ~ "msg.create.success"|trans({\'%name%\': entityLabel }) ~ "\');
           $(\'#'~ entity|lower ~'Grid\').trigger(\'reloadGrid\');
         }") 
  %}

    {% form_theme form \'YepsuaSmarTwigBundle:Form:table_layout.html.twig\' %}

    {{ form_widget(form) }}

    <br/><br/>
    <hr class="ui-widget-content">

    <input checked="checked" id="_loop_create" type="checkbox" name="_loop_create" />
    <label for="_loop_create">{{"chk.create.and.create.a.new.one"|trans}}</label>

    {% ui_button class="crud-btn-submit '~ btnSunbmit ~'" type="submit" value="action.create"|trans%}

  {% end_ajax_form %}
  </div>

{% end_ui_dialog %}' }}